body {
  background-image: url("https://images.pexels.com/photos/1858161/pexels-photo-1858161.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}
.weather-app {
  border: 2px solid #65bcdf;
  padding: 20px;
  margin: 70px 145px;
  border-radius: 20px;
  max-width: 80%;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h1 {
  position: relative;
  font-family: Alata;
  font-size: 50px;
  margin-top: -18px;
  margin-left: 30px;
  color: #9fe6e6;
}
ul {
  position: relative;
  columns: 2;
  font-family: Alata;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  color: #3bd5f0;
  margin-top: -10px;
  margin-left: 30px;
  list-style: none;
}
.todayTemp {
  font-size: 60px;
  color: #9fe6e6;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
footer {
  color: #cfd1d1;
}

.float-right {
  width: 200px;
}
