.weather-app {
  border: 1px solid #77dd90;
  padding: 20px;
  margin: 30px 10px;
  border-radius: 15px;
  max-width: 90%;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
}
.enter-city {
  position: relative;
  margin-top: 80px;
  margin-left: 20px;
  opacity: 0.4;
}
h1 {
  position: relative;
  font-size: 42px;
  margin-top: -40px;
  margin-left: 275px;
  color: #06e7b7;
}
ul {
  position: relative;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 20px;
  list-style: none;
}
.todayEmoji {
  position: relative;
}
.todayEmoji i {
  font-size: 70px;
}
.todayTemp {
  font-size: 50px;
}
.todays-weather {
  margin-left: 10px;
  opacity: 0.8;
}
.todays-weather i {
  color: #171e27;
  font-size: 70px;
  padding: 5px;
}
.card-day2,
.card-day3,
.card-day4,
.card-day5,
.card-day6,
.card-day7 {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  max-width: 100%;
}
.card-temp {
  margin-top: 5px;
  color: #181717;
}
.day2-weather,
.day3-weather,
.day4-weather,
.day5-weather,
.day6-weather,
.day7-weather {
  position: relative;
  opacity: 0.8;
}
.day2-weather i,
.day3-weather i,
.day4-weather i,
.day5-weather i,
.day6-weather i,
.day7-weather i {
  text-align: center;
  color: #171e27;
  font-size: 40px;
}
.card-day2 {
  margin-left: 20px;
}
